:root{
    --dorado:#FFC87D;
    --azul:#023047;
}

*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;    
    padding: 0;
    margin: 0;
    cursor: url(img/cursor\ .png), auto;
}
body::-webkit-scrollbar{
    width: 5px;
    margin-left: 2px;
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(to top, #FF0080, #FF8C00, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--dorado); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.logo{
    width: 100px;
    margin: 5px 10px;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.ham{
    display:none; 
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.ham span{
    display: block;
    background-color: var(--dorado);
    height: 2px;
    width: 28px;
    margin: 7px auto;
}
.enlaces-menu{
    display: flex;
    padding: 0;
}
.enlaces-menu li{
    padding: 0 20px;
    list-style: none;
}
.enlaces-menu li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dorado);
}
.btn-0{
    padding: 0 20px;
    position: relative;
}
.btn-0::before{
    content: '';
    position: absolute;
    bottom: 40%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--dorado);
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn-0:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }

/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */

@media(max-width:800px ){
    
    .logo{
        padding-left: 5px;
    }
    .ham{
        display: block;
        position: absolute;
        top: 7px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham:hover{
        transform: rotate(360deg);
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
        opacity: 0;
        
    }
    .enlaces-menu li a{
        font-size: 1.5rem;
    }
    .in-cont{
        display: flex;
        flex-direction: column;
    }
    .sec-1-content{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .sec2-content{
        display: flex;
        flex-direction: column;
    }

}
@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}
.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 0.5s ease-in-out both;
}
.br-1.animado{
    transform: rotate(-45deg) translate(-5px,8px);
}
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-4px,-8px);
}

.inicio{
    background-image: url(img/Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}
.in-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid red; */
    width: 90%;
    height: 80%;
}
.in-logo{
   /* border:solid #03ff63; */  
   filter: brightness();
   margin-top: 50px;
   width: 250px;
}
.in-der{
   /* border: solid blue;*/
    height: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
.in-text{
    /*border: solid #03ff63;*/
    color: white;
    width: 300px;
}
.in-relleno{
    height: 10%;
   /* border: solid red;*/
}
.in-redes{
    /*border: solid yellow;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
}
.in-redes a{
    text-decoration: none;
    color: white;
}
.in-red-icon{
    filter: invert();
    width: 25px;
    transition: all 0.2s ease-in-out;
}
.in-red-icon:hover{
    transform: translateY(-10px) rotate(360deg);
    filter: invert(95%) sepia(15%) saturate(2061%) hue-rotate(311deg) brightness(101%) contrast(101%);
}
.sec1{
    background-color: black;
    padding: 8%;
}
.sec-1-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1-text{
    color: white;
    margin: 3%;
    width: 80%;
}
.sec1-img{
    margin: 3%;
    width: 100%;
}
.btn-1{
    margin: 30px 0px 20px 0px;
    width: 100px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.sec2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px ;
}
.sec2-bar{
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 1.5px;
}
.sec2-content{
    border: solid red;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8%;
}
.sec2-1{
    border: solid red;
    width: 100%;
    height: 100%;
    color: white;
    margin: 10px;
}
.sec2-2{
    border: solid rgb(0, 255, 76);
    color: white;
    width: 100%;
    height: 100%;
    margin: 10px;
}
.sec2-3{
    border: solid rgb(247, 0, 255);
    color: white;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.sec3{
    height: 500px;
    width: 100%;
}