:root{
    --dorado:#FFC87D;
    --azul:#023047;
}

*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;    
    padding: 0;
    margin: 0;
    cursor: url(img/cursor\ .png), auto;
}
body::-webkit-scrollbar{
    width: 5px;
    margin-left: 2px;
    background-color: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(to top, #FF0080, #FF8C00, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--dorado); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
}
h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    margin: 2%;
}

.logo{
    width: 100px;
    margin: 5px 10px;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.ham{
    display:none; 
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.ham span{
    display: block;
    background-color: var(--dorado);
    height: 2px;
    width: 28px;
    margin: 7px auto;
}
.enlaces-menu{
    display: flex;
    padding: 0;
}
.enlaces-menu li{
    padding: 0 20px;
    list-style: none;
}
.enlaces-menu li a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dorado);
}
.btn-0{
    padding: 0 20px;
    position: relative;
}
.btn-0::before{
    content: '';
    position: absolute;
    bottom: 40%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--dorado);
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn-0:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }

/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */
/* RESPONSIVE PARA MOVIL */ /* RESPONSIVE PARA MOVIL */

@media(max-width:800px ){
    
    .logo{
        padding-left: 5px;
    }
    .ham{
        display: block;
        position: absolute;
        top: 7px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham:hover{
        transform: rotate(360deg);
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50vh;
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
        opacity: 0;
        
    }
    .enlaces-menu li a{
        font-size: 1.5rem;
    }
    .in-cont{
        display: flex;
        flex-direction: column;
    }
    .sec-1-content{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .sec2-content{
        display: flex;
        flex-direction: column;
    }
    .sec3-ct{
        display: flex;
        flex-direction: column;
    }
    #slider{
        padding: 25px;
    }
    input[type=radio] {
       display: none;
      }
   
}
@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes mover{
    0%{
        transform: translate(100%);
    }
}
.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 0.5s ease-in-out both;
}
.br-1.animado{
    transform: rotate(-45deg) translate(-5px,8px);
}
.br-2.animado{
    opacity: 0;
}
.br-3.animado{
    transform: rotate(45deg) translate(-4px,-8px);
}

.inicio{
    background-image: url(img/Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}
.in-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid red; */
    width: 90%;
    height: 80%;
}
.in-logo{
   /* border:solid #03ff63; */  
   filter: brightness();
   margin-top: 50px;
   width: 250px;
}
.in-der{
   /* border: solid blue;*/
    height: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
.in-text{
    /*border: solid #03ff63;*/
    color: white;
    width: 300px;
}
.in-relleno{
    height: 10%;
   /* border: solid red;*/
}
.in-redes{
    /*border: solid yellow;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
}
.in-redes a{
    text-decoration: none;
    color: white;
}
.in-red-icon{
    filter: invert();
    width: 25px;
    transition: all 0.2s ease-in-out;
}
.in-red-icon:hover{
    transform: translateY(-10px) rotate(360deg);
    filter: invert(95%) sepia(15%) saturate(2061%) hue-rotate(311deg) brightness(101%) contrast(101%);
}
.sec1{
    background-color: black;
    padding: 8%;
}
.sec-1-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1-text{
    color: white;
    margin: 3%;
    width: 80%;
}
.sec1-img{
    margin: 3%;
    width: 100%;
}
.btn-1{
    margin: 30px 0px 20px 0px;
    width: 100px;
    height: 50px;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
.sec2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px ;
}
.titles-bar{
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 1.5px;
    margin-top: 10px;
}
.sec2-content{
    /*border: solid red;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.sec2-content p{
    margin:2% 0% ;
}
.sec2-1{
    /*border: solid red;*/
    width: 100%;
    height: 100%;
    margin: 10px;
}
.sec2-2{
    /*border: solid rgb(0, 255, 76);*/
    width: 100%;
    height: 100%;
    margin: 10px;
}
.sec2-3{
    /*border: solid rgb(247, 0, 255);*/
    width: 100%;
    height: 100%;
    margin: 10px;
}
.sec2-1-di{
    filter: grayscale(100%);
    opacity: 70%;
}
.sec2-1-di:hover{
    filter: grayscale(0%);
    opacity: 100%;
    transition: all 0.5s ease;
    transform: translateY(-10px);
}
.sec2-1-di a{
    text-decoration: none;
    color: black;
}
.sec2-1-di-text{
    display: flex;
    justify-content: space-around;
}
.sec2-1-a3d {
    opacity: 70%;
    filter: grayscale(100%);
}
.sec2-1-a3d:hover{
    opacity: 100%;
    filter: grayscale(0%);
    transition: all 0.5s ease;
    transform: translateY(-10px);
}
.sec2-1-a3d a{
    text-decoration: none;
    color: black;
}
.sec2-1-a3d-text{
    display: flex;
    justify-content: space-between;
}
.sec2-2 a{
    text-decoration: none;
    color: black;
}
.sec2-2-dm{
    opacity: 70%;
    filter: grayscale(100%);
}
.sec2-2-dm:hover{
    opacity: 100%;
    filter: grayscale(0%);
    transition: all 0.5s ease;
    transform: translateY(-10px);
}
.sec2-3 a{
    text-decoration: none;
    color: black;
}
.sec2-3-rs{
    opacity: 70%;
    filter: grayscale(100%);
}
.sec2-3-rs:hover{
    opacity: 100%;
    filter: grayscale(0%);
    transition: all 0.5s ease;
    transform: translateY(-10px);
}
.sec3{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: black;
}
.sec3-title{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px ;
}
.sec3-bar{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 1.5px;
    margin-top: 10px;
}
.sec3-cj{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec3-ct{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.sec3-ct-img{
    width: 100%;
}

/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/
/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/
/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/
/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/
/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/
/*SLIDER SLIDER*//*SLIDER SLIDER*//*SLIDER SLIDER*/

#slider {
    position: relative;
    width: 50%;
    height: 35vw;
    margin: 80px  auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
  }
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.3;
    transform: translateX(-83px);
    cursor: pointer;
  }
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
  }

  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  /* Next Slide */
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  
